.App {
  max-width: 1440px;
  display: grid;
  grid-template-rows: 80px 100%;
  grid-template-columns: 2fr 10fr;
  grid-gap: 18px;
  grid-template-areas: 
  "header header"
  "navbar main";
}
* {
  padding: 0;
  margin: 0;
}

* body {
  box-sizing: border-box;
}

body {
  background-color:#000;
}

.main {
  grid-area: main;
  background-color: #CEB9A2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  box-shadow: inset 0px 0px 16px 8px #000;

}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/