
.header {
    grid-area: header;
    background-color: #113746;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 3px -1px 10px 1px #fff;
  }

  /*#D74D3C
  #EF816D
  #113746
  #3F877F
  #CEB9A2*/