
.navbar {
  grid-area: navbar;
  background-color: #3F877F;
  box-shadow: inset 0px 0px 12px 6px #000;
    
  }

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 100%;
    
}
.menu li {
  border-bottom: 1px solid #000 ;
  width: 100%;
  padding: 20px 0;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;

}
.menu li:hover {
  background-color: #CEB9A2;
  transition: 0.3s;
  color: #000;
  box-shadow: inset 0px 0px 12px 6px #000;
  text-shadow: 1px 2px 3px #000;
   
}

.menu li a {
color: #fff;
text-decoration: none;
}

.menu li a:hover {
  color: #000;
 
  }
.menu li img {
  width: 20px;
  color: #fff;
  margin: 0 20px;
}