

.image {
    background-image: url('../../../public/img/main.png');
    height: 54%;
    width: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
}
