

.image {
    background-image: url('../../../public/img/main.png');
    height: 54%;
    width: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
}
.user, .info {
  display: flex;
  align-items: center;
  
}

.user h1 {
  color: #113746;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px; 
  position: relative;
}
.ava {
 
  
 position: relative;
  margin-right: 20px;
 
}

.ava img {
   width: 120px;border-radius: 50%; border: 3px solid #113746;
  box-shadow: 0px 0px 16px 9px #113746;
}
.ava::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #D74D3C;
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  right: 0px;
}
.item {
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  color: #3F877F;
  
}

.item p {
  margin-bottom: 8px;
}
.item:first-of-type {
  color: #113746;
  margin-right: 50px;
  text-transform: uppercase;
  font-weight: bold;
}