
.search {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: 30px;

}
.input {
    background-color: #CEB9A2;
    padding: 8px 10px;
    outline: none;
    border: none;
    border-radius: 8px; 
width: 16rem;
cursor: pointer;

}
.input:hover {
    box-shadow: -1px 0px 11px #fff;
    transition: 0.6s;

}
.input:focus {
    box-shadow: -1px 0px 11px #EF816D;
   

}
.icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    
}